<!--
<label>
    nome:
    <input (keyup)="onKeyNome($event)">
</label><br>
<label>
    cognome:
    <input (keyup)="onKeyCognome($event)">
</label><br>
<label>
    nickname:
    <input (keyup)="onKeyNickname($event)">
</label><br>
<label>
    Email:
    <input (keyup)="onKeyEmail($event)">
</label><br>
<button (click)="upload('utenti')">Login</button>
-->

<div id='powered'>Powered By Luca</div>
<div id='admin_container'>

    <div id='test'>
        <div id='top'>
            <img src="../../../assets/logo.png" alt=""> 
            
            
        </div>
        <div id="title">
            Creazione Utente
        </div>

        <div id="campi">
            <mat-form-field>
                <input (keyup)="onKeyNome($event)" matInput placeholder="Nome">
            </mat-form-field>
            <mat-form-field>
                <input (keyup)="onKeyCognome($event)" matInput placeholder="cognome">
            </mat-form-field>
            <mat-form-field>
                <input (keyup)="onKeyNickname($event)" matInput placeholder="Nickname">
            </mat-form-field>
            <mat-form-field>
                <input (keyup)="onKeyEmail($event)" matInput placeholder="Email">
            </mat-form-field>

         

             
              <button mat-raised-button (click)='tasto()' [disabled]="!validation()"><fa name="plus-circle"></fa>Aggiungi utente</button>
              <button mat-raised-button id='back' routerLink="/adminpanel"><fa name="arrow-left"></fa>Torna alla lista utenti</button>
        </div>

       
        

    </div>
    